body {
  height: 100vh;
}

.navbar {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}

.card {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}

.table td {
  vertical-align: middle !important;
}

.toast-custom-classname {
  border-radius: 10px !important;
  height: 64px !important;
  color: white !important;
  width: 400px !important;
  border: 1px solid white;
  background-color: #A211F8 !important;
}